// Neutral colours
$white: #fff;
$lightest-grey: #f0f2f5;
$lighter-grey: #e5e6e9;
$light-grey: #91929e;
$grey: #7d8592;
$black: #0a1629;

// Identity colours
$primary: #713fff;
$secondary: $light-grey;

// State colours
$danger: #F65160;
$warning: #ffbd21;
$ok: #0ac947;

 